ul{
    list-style-type:none;
    padding:2px;
}
ul li{
    display:block;
    float:left;
}
li ul{
    display:none;
}
ul li a{
    display:block;
    background-color:#007689;
    padding:10px;
    text-decoration:none;
    color:white;
    width:100px;
    border:2px solid red;
}
ul li a:hover{
    background-color:#007689;
    color:white;
}
li:hover ul{
    display:block;
    position:absolute;
}
li:hover li{
    float:none;
}
li:hover a{
    background-color:#94C548;
    color:black;
}
li:hover li a:hover{
    background:black;
    width:100px;
}